<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="JetEntityFrameworkProvider" type="JetEntityFrameworkProvider.JetProviderServices, JetEntityFrameworkProvider"/>
    </providers>
  </entityFramework>
  
  <system.data>
    <DbProviderFactories>
      <remove invariant="JetEntityFrameworkProvider"/>
      <add invariant="JetEntityFrameworkProvider" name="Jet Entity Framework Provider" description="Jet Entity Framework Provider" type="JetEntityFrameworkProvider.JetProviderFactory, JetEntityFrameworkProvider"/>
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <add name="DbConnSqlServer" connectionString="Data Source=(LocalDB)\MSSQLLocalDB; Integrated Security=true;AttachDbFileName=|DataDirectory|MyDb.mdf" providerName="System.Data.SqlClient"/>
    <add name="DbConnSqlServerSmarterASP" connectionString="Data Source=SQL7001.site4now.net;Initial Catalog=DB_A43795_hubert17;User Id=DB_A43795_hubert17_admin;Password=sds123...;" providerName="System.Data.SqlClient"/>
    <add name="DbConnSqlServerSomee" connectionString="data source=hubert17db.mssql.somee.com;initial catalog=hubert17db;user id=hubert172018_SQLLogin_1;pwd=3e7lrhfk3k;workstation id=hubert17db.mssql.somee.com;packet size=4096;persist security info=False" providerName="System.Data.SqlClient"/>
    <add name="DbConnDbJetAccess" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\MyDb.mdb" providerName="JetEntityFrameworkProvider"/>
  </connectionStrings>
  
</configuration>